<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Password Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dashboard">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addnewcategory">Add New Category</a></li>
                <li><a href="/passCategory">View All Category</a></li>
              </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addnewpassword">Add New PassWord</a></li>
                <li><a href="/viewallpassword">View All PassWord</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          </ul>
       
        <ul class="nav navbar-nav " style="float:right;"><a class="navbar-brand " href="#">
            Logeddin As :<% if(loginUser){ %><%= loginUser %> <% } %></a></ul>

        </div>
      </nav>